
body {
	height: 500px;
	margin: 0;
}

h1{
 	font-size: 1.25em;
	text-align: center;
	background: #444;
	color: #eee; 
 	margin: 0;
 	padding: 2em;
 }

h2{
 	margin-top: 0;
	padding: 0.5em;
 }

h3 {
	font-size: 1.25em;
	text-align: center;
	padding: 0px;
	margin: 1px;	
}

h4 {
	font-size: 1.1em;
	text-align: left;
	padding: 0px;
	margin: 0px;
	text-decoration: underline;
}

main{

	margin: 0 auto;
	background #eee;
	text-align: center;
	padding: 2px;
 }

p {
	text-align: left;
	text-indent: 50px;
}

dl {
	margin: 0 auto;
	padding: inherit;
	text-align: left;
}

.pTag {
	text-align: center;
}

	ul {
	text-align: left;
}

 section{
	 background: #888;
 }

input,
section {
	display: none;
	padding: 0.5em;
	clear: both;
}

label{
	display: block;
	box-sizing: border-box;
	float: left;
	width: 25%;
	color: #888;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	background: #eee;
	line-height: 3em;
	border-right: 1px solid #444;
}

label:last-child {
	border-right:none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4{
	display: block;
}

[id^="tab"]:checked + label {
	background: #ccc;
	color: #222;
}

[id^="tab"]:checked + label .fa {
	color: #090;
}

.tab-content {
	background: #fff;
}

.fa {
	margin-right: 10px;
}

.top-container {
	padding: 30px
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%
}

.sticky + .tab-content{
	padding-top: 60px
}

.navbar-fixed{
	top: 0;
	z-index: 100;
	position: fixed;
	width: 100%;
}

#markslogo {
	height: 100px;
	width: 120px;
	margin: -1em;
}

#tgclogo {
	height: 60px;
	width: 254px;
	margin: auto;
}

#logolaton {
	height: 80px;
	width: 150px;
	margin: auto;
	}

/* THE FIRST BREAKPOINT FOR MEDIUM SIZED SCREENS */
@media screen and (min-width: 450px) {
	header {
		background: #222;
		color: #ccc;
	}

	h1 {
		font-size: 2em;
		padding: 10.5em;
	}
	
	main {
		width: 100%;
		height: 701px;
		margin: auto;
	}
	
	body {
		height: 810px;
	}
	
}
/* END OF THE FIRST BREAKPOINT   */



/* THE SECOND BREAKPOINT FOR DESKTOP SIZED SCREENS */
@media screen and (min-width: 800px) {
	
main{
	height: 700px;
	width: 100%;
	margin: auto;
	}
header {
	background: #222;
	color: #ccc;
	}

body {
	height: 810px;
	}
	
p {
	padding-left: 2em;
	padding-right: 2em;
	}
	
#map {
	height: 400px;
	width: 400px;
	z-index: -1;
	}


}
/* END OF THE SECOND BREAKPOINT */